.button {
    background: #07090F;
    font-size: 24px;
    color: #8D909B;
    text-align: center;
}


.button[data-value="null"] {
    pointer-events: none;
}

.button:hover {
    background: #FDFDFF;
    cursor: default;
}