.keypad {
  position: absolute;
    top: 20%;
    left: 10%;
 display: grid;
 grid-auto-flow: column;
grid-template-rows: 60px 60px 60px 60px;
grid-template-columns: 60px 60px 60px 60px;
   grid-gap: 10px;

}